<div id="hihat" class="test">
  {{#each boxes as |box|}}
    {{sequencer-hihat class="inline"}}
    {{sequencer-hihat class="inline"}}
  {{/each}}
</div>
<div id="snare" class="test">
  {{#each boxes as |box|}}
    {{sequencer-snare class="inline"}}
  {{/each}}
</div>
<div id="bass" class="test">
  {{#each boxes as |box|}}
    {{sequencer-bass class="inline"}}
    {{sequencer-bass class="inline"}}
  {{/each}}
</div>
