<form {{action 'playBeat' on="submit"}}>
  <article id="main" class="app">
    <section id="labels">
      <p class="label">Hihat</p>
      <p class="label">Snare</p>
      <p class="label">Bass</p>
    </section>
    <section class="sequencer">
      {{sequencer-section class="main"}}
    </section>
  </article>
  <section id="control">
    <div class="bpm">
      <p for="bpm">BPM</p>
      <input type="text" class="bpm" name="bpm" value="70">
    </div>
    <div id="circle"></div>
    <button type="submit" id="play" name="play">Play</button>
    <button type="submit" {{action 'stopBeat' on="click"}}>Stop</button>
    <button type="button" {{action 'saveBeat' on="click"}}>Save</button>
    <button type="submit" id="upload" name="upload">Upload</button>
  </section>
</form>
<br>
{{#each model as |beat|}}
<article class="app">
  <section id="labels">
    <p class="label">Hihat</p>
    <p class="label">Snare</p>
    <p class="label">Bass</p>
  </section>
  <section class="sequencer">
    {{saved-beats beat=beat.pattern}}
  </section>
</article>
<br>
{{/each}}
