<article class="inputMain">
  <form class="metal" {{action 'signUp' on="submit"}}>
    <div class="">
      <label class="inputLabel" for="email">Email</label>
      {{input class="userInput" type="text" value=userEmail}}
    </div>
    <div class="">
      <label class="inputLabel password" for="password">Password</label>
      {{input class="userInput" type="text" name="password" value=userPassword}}
    </div>
    <div class="">
      <label for="address">Pi address</label>
      {{input class="userInput" type="text" name="address" value=userAddress}}
    </div>
    {{!-- {{input class="userInput" type="submit" value="Submit"}} --}}
    <button type="submit" name="button">Signup</button>
  </form>
</article>
